.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 722px;
    height: 766px;
    background: #273469FF;
    border-radius: 8px;
    box-shadow: 0px 17px 35px #171a1f,
        0px 0px 2px #171a1f;

}

.container>input:nth-child(n+5) {
    grid-column: 2;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;

}

.texto-cuenta-empresa {
    grid-column: 1 / span 2;
    margin-top: 60px;
    margin-left: 165px;
    color: #FAFAFFFF;
    font-family: 'Sarabun', sans-serif;


}


.textbox {
    display: flex;
    flex-direction: row;
    width: 220px;
    height: 36px;
    opacity: 1;
    margin: 4px 0px 22px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #9095A1FF;
    outline: none;
}

.color-texto-formulario {
    color: #FAFAFFFF;
    font-family: 'Sarabun', sans-serif;
    align-self: flex-start;
}


.color-texto-foto-perfil {

    color: #FAFAFFFF;
    font-family: 'Sarabun', sans-serif;
    margin-bottom: 1px;
}

.estilo-titulo {
    font-size: 32px;
    line-height: 48px;
    color: #FAFAFFFF;
    margin: 16px 50px 13px;
}

.estilo-texto-pequeno {
    font-family: Sarabun;
    font-size: 16px;
    width: 75%;
    text-align: center;
    line-height: 18px;
    color: #FAFAFFFF;

}

.estilo-texto-inferior {
    font-family: Sarabun;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    color: #FAFAFFFF;
    margin-left: 50px;
    width: 175%;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 722px;
    height: 766px;
    background: #273469FF;
    border-radius: 8px;
    box-shadow: 0px 17px 35px #171a1f,
        0px 0px 2px #171a1f;

}

.container>input:nth-child(n+5) {
    grid-column: 2;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;

}

.texto-cuenta-empresa {
    grid-column: 1 / span 2;
    margin-top: 20px;
    margin-left: 175px;
    color: #FAFAFFFF;
    font-family: 'Sarabun', sans-serif;

}


.textbox {
    display: flex;
    flex-direction: row;
    width: 220px;
    height: 36px;
    opacity: 1;
    margin: 4px 0px 22px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #9095A1FF;
    outline: none;
}

.color-texto-formulario {
    color: #FAFAFFFF;
    font-family: 'Sarabun', sans-serif;
    align-self: flex-start;
}


.color-texto-foto-perfil {

    color: #FAFAFFFF;
    font-family: 'Sarabun', sans-serif;
    margin-bottom: 1px;
}


.ajuste-texto-y-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: aqua;*/
}

.formato-y-color-texto-columna-derecha {
    color: #FAFAFFFF;
    font-family: 'Sarabun', sans-serif;
    align-self: flex-start;
    margin-left: 70px;
}

.form {
    display: flex;
    flex-direction: column;
}


.dropdown {
    width: 220px;
    height: 36px;
    font-family: 'Sarabun', sans-serif;
    opacity: 1;
    margin: 4px 0px 22px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #9095A1FF;
    outline: none;
}


.photo {
    width: 200px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 1px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #BDC1CAFF;
    border-style: dashed;
}

.curriculum {
    width: 200px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 1px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #BDC1CAFF;
    border-style: dashed;
}

.photo-input input[type="file"] {
    width: 153px; 
    height: 44px; 
    font-size: 16px; 
    background: #BBBFD8; 
    border-radius: 7px; 
    border-width: 0px; 
    outline: none; 
    margin-top: 20px;

}

.photo-input input[type="file"]::file-selector-button {
    height: 44px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 16px; 
    line-height: 26px; 
    color: #273469FF; 
    background: #FFFFFFFF; 
    opacity: 1; 
    border-radius: 3px; 
    border-width: 1px; 
    border-color: #273469FF; 
    border-style: solid; 
}


#cv-container img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}


.button-completar {
    align-self: flex-start;
    cursor: pointer;
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFFFF;
    background: #30343F;
    opacity: 1;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    width: 143px;
    height: 45px;
    box-shadow: 0px 0px 5px #FAFAFF, 0px 0px 1px #171a1f;
}


.btn-form {
    grid-column: 1 / span 2;
    margin-top: 1px;
    margin-left: 285px;
    align-self: flex-start;
}

.icon-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-container i {
    font-size: 14px;
    color: #FAFAFFFF;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

html {
    font-family: 'Sarabun', sans-serif;
}